.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;
    color:black;
    text-align: center;
 }

.batas{
    height: 2px;
    weight: 100%;
    background-color: black;
}

}
 .container{
     margin: auto;
     width: 150px;
     height: 100px;
     border: 2px solid black;
    
 }